/* WHOLE PAGE */
 * { box-sizing: border-box; }

 /* FULL HEIGHT FLEX BODY */
 body {
      padding: 0; margin: 0;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      font-family: 'Open Sans', sans-serif;

    }

 /* ALLOW MAIN TO FILL HEIGHT */
 #pageMain { flex-grow: 1; }


 h1, h2, h3, h4, h5, h6{
     font-family: inherit;
    font-weight: 600;
}



 hr{
        height: 5px;
        background-color: green;
        border: none;
    }
 /* Home Page Styling */

.our-services {
   background-color: #f9fdf2;
}

.center {
  text-align: center
 }

i.quote{
   font-size: 20px;
   color: #17a2b8;
 }

 .info .name {
   font-weight: 800;
   font-size: 17px;
 }
 .info .job {
   font-size: 16px;
   font-weight: 500;
   color: #17a2b8;
 }
/* Footer */
 footer {
    background-color: #000000;
    padding:15px 22px;
    font-size: 14px;
    color: white;
    }

footer a {
        color: white;
        }

footer a.hover { color: #8ebf42;}
